DATABASE__HOST =
DATABASE__PORT =
DATABASE__USER =
DATABASE__PASSWORD =
DATABASE__NAME =

CACHE__HOST =
CACHE__PORT =
CACHE__DB_NUM =
CACHE__LINK_PREFIX =
CACHE__CLICKS_PREFIX =
CACHE__TTL =

CELERY__BROKER_ENGINE =
CELERY__BROKER_HOST =
CELERY__BROKER_PORT =
CELERY__BROKER_DB =

APP__LINK_UNUSED_THRESHOLD_DAYS =